<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Horas</ion-label>
    <ion-select [(ngModel)]="hour" mode="ios" name="hours" id="hours" (ionChange)="hourChangeHandler($event)">
      <ion-select-option *ngFor="let hour of hours; index as i" (value)="hour">{{ hour.toLocaleString(undefined, { minimumIntegerDigits: 2 }) }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Minutos</ion-label>
    <ion-select [(ngModel)]="minute" mode="ios" name="minutes" id="minutes" (ionChange)="minuteChangeHandler($event)">
        <ion-select-option *ngFor="let minute of minutes; index as i" (value)="minute">{{ minute.toLocaleString(undefined, { minimumIntegerDigits: 2 }) }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Segundos</ion-label>
    <ion-select [(ngModel)]="second" mode="ios" name="seconds" id="seconds" (ionChange)="secondChangeHandler($event)">
        <ion-select-option *ngFor="let second of seconds; index as i" (value)="second">{{ second.toLocaleString(undefined, { minimumIntegerDigits: 2 }) }}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="buttons">
    <ion-button shape="round" color="success" (click)="addCounter(hour, minute, second)">Agregar</ion-button>
    <ion-button shape="round" color="warning" (click)="openSaveAlert()">Guardar</ion-button>
  </div>

  <ng-template ngFor let-preset [ngForOf]="timerService.presetList">
    <ion-chip color="primary">
      <ion-label (click)="addCounter(preset.hours.toString(), preset.minutes.toString(), preset.seconds.toString(), preset.title)">{{ preset.title }}</ion-label>
      <ion-icon (click)="removePreset(preset)" name="close-circle"></ion-icon>
    </ion-chip>
  </ng-template>
</ion-content>
