<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="flex-column" color="light" >
    <ion-title>Agregá un temporizador</ion-title>
    <div class="flex">
      <ion-item color="light">
        <ion-input [(ngModel)]="hours" class="box-input" type="number"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input [(ngModel)]="minutes" class="box-input" type="number"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input [(ngModel)]="seconds" class="box-input" type="number"></ion-input>
      </ion-item>
    </div>
    <ion-button color="success" shape="round" (click)="btn_Agregar()">Agregar</ion-button>
  </ion-card>
  <app-timer-card 
  *ngFor="let counter of timerService.counterList" 
  [title]="counter.title" 
  [time]="counter.endTime"
  ></app-timer-card>
</ion-content>
